<!DOCTYPE html>
<html>

<head>
	<meta charSet="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Gunjop - Home</title>
	<style data-styled="" data-styled-version="5.3.0"></style>
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="img/favicon.svg">

<body id="body" class="hidden" >
	<div id="loader" class="loader" >
		<svg id="glass" width="48.88" height="41.5" viewBox="0 0 159 135" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M113.908 19.625L93.1266 40.4062C87.5849 35.5573 81.3505 33.4792 74.4234 32.7865C68.1891 32.0937 61.262 32.7865 55.7203 35.5573C49.4859 37.6354 43.9443 41.7917 39.788 47.3333C35.6318 52.1823 33.5536 58.4167 33.5536 66.0365C33.5536 81.276 39.0953 92.3594 50.8714 98.5937C62.6474 105.521 74.4234 104.828 87.5849 98.5937L86.8922 81.9687L102.132 66.7292H117.371L118.064 107.599C107.673 119.375 96.5901 126.995 82.7359 129.766C69.5745 133.229 57.1057 132.536 45.3297 127.688C32.8609 123.531 23.163 115.911 14.8505 104.828C6.53802 94.4375 2.38176 81.276 3.07447 66.0365C3.76718 51.4896 7.92343 39.7135 15.5432 30.0156C23.163 19.625 32.8609 12.6979 43.9443 7.84895C55.7203 3.6927 67.4963 2.30729 79.9651 3.6927C92.4338 5.77083 103.517 10.6198 113.908 19.625V19.625ZM86.8922 81.9687L102.132 66.7292L86.8922 81.9687Z"
				stroke="#CDBE78" stroke-width="4.15625" stroke-miterlimit="22.9256" stroke-linecap="round"
				stroke-linejoin="round" />
			<path
				d="M156.856 77.8125L135.382 99.2865L131.226 94.4375V3H156.856C156.856 27.9375 156.856 52.875 156.856 77.8125Z"
				stroke="#CDBE78" stroke-width="4.15625" stroke-miterlimit="22.9256" stroke-linecap="round"
				stroke-linejoin="round" />
			<path
				d="M144.387 131.844C151.314 131.844 156.856 126.302 156.856 119.375C156.856 112.448 151.314 106.906 144.387 106.906C137.46 106.906 131.226 112.448 131.226 119.375C131.226 126.302 137.46 131.844 144.387 131.844Z"
				stroke="#CDBE78" stroke-width="4.15625" stroke-miterlimit="22.9256" stroke-linecap="round"
				stroke-linejoin="round" />
		</svg>
	</div>
	<div class="main-content">
		<header>
			<nav>
				<div class="logo">
					<a href=""> <img loading="lazy" class="icon" src="img/logo.svg" /> </a>
				</div>
				<div class="nav">
					<ol>
						<li class="nav-hover-area">
							<a class="hover-area">MINING IoT 4.0</a>
							<ul class="nav-hover-menu">
								<li class="nav-dropdown-item"><a href="/Mining.html">K-NAP (Telemetría
										avanzada)</a></li>
								<li class="nav-dropdown-item"><a href="/Mining.html">Winex
										(Conectividad-infraestructura)</a></li>
								<!-- <li class="nav-dropdown-item"><a>Detección de gases con reporte
										Online</a></li> -->
							</ul>
						</li>

						<li class="nav-hover-area">
							<a class="hover-area">INNOVATION</a>
							<ul class="nav-hover-menu">
								<li class="nav-dropdown-item"><a href="/Innovation.html">HydraGEN</a></li>
								<!-- <li class="nav-dropdown-item"><a>Hvac</a></li>
								<li class="nav-dropdown-item"><a>Sistemas autonomos</a></li>
								<li class="nav-dropdown-item"><a>Eficiencia energética</a></li>
								<li class="nav-dropdown-item"><a>Tracking</a></li>
								<li class="nav-dropdown-item"><a>Sistema integral de conducción y
										microsueños</a></li>
								<li class="nav-dropdown-item"><a>Sistema de conducción 360º</a></li> -->
							</ul>
						</li>
						<li class="nav-hover-area">
							<a class="hover-area">ARTIFICIAL INTELLIGENCE</a>
							<!-- <ul class="nav-hover-menu">
								<li class="nav-dropdown-item"><a>Gestión de flotas</a></li>
								<li class="nav-dropdown-item"><a>Dispatch (Sistema Gestión minera)</a>
								</li>
								<li class="nav-dropdown-item"><a>Ventilación bajo demanda</a></li>
							</ul> -->
						</li>
					</ol>
				</div>
				<div class="menu">
					<li id="open-menu"><a> <img loading="lazy" class="icon" src="img/menu.svg" /> </a></li>
				</div>
				<div id="menu-mobile" class="menu-mobile">
					<nav>
						<div class="menumobile-header">
							<li id="close-menu"><a> <img loading="lazy" class="icon" src="img/cerrar.svg" /> </a></li>
						</div>
						<ul>
							<details open class="area">
								<summary>MINING IoT 4.0</summary>
								<ul>
									<li><a href="/Mining.html">K-NAP (Telemetría avanzada)</a></li>
									<li><a href="/Mining.html">Winex (Conectividad-infraestructura)</a></li>
									<!-- <li><a>Detección de gases con reporte Online</a></li> -->
								</ul>
							</details>
							<details class="area">
								<summary>INNOVATION</summary>
								<ul>
									<li><a href="/Innovation.html">HydraGEN</a></li>
									<!-- <li><a>Hvac</a></li>
									<li><a>Sistemas autonomos</a></li>
									<li><a>Eficiencia energética</a></li>
									<li><a>Tracking</a></li>
									<li><a>Sistema integral de conducción y microsueños</a></li>
									<li><a>Sistema de conducción 360º</a></li> -->
								</ul>
							</details>
							<details class="area">
								<summary>ARTIFICIAL INTELLIGENCE</summary>
								<!-- <ul>
									<li><a>Gestión de flotas</a></li>
									<li><a>Dispatch (Sistema Gestión minera)</a></li>
									<li><a>Ventilación bajo demanda</a></li>
								</ul> -->
							</details>
						</ul>
					</nav>
				</div>
			</nav>
		</header>
		<div class="left">
			<div class="social-icons">
				<a href="https://www.youtube.com/channel/UCtz7VZdGz2NpbfiFkICp4Kw" target="_blank"> 
					<img loading="lazy" class="icon" src="img/yt.svg" />
				</a> 
				<a href="https://twitter.com/GUNJOPIoT" target="_blank"> 
					<img loading="lazy" class="icon" src="img/twt.svg" />
				</a> 
			</div>
		</div>
		<div class="right">
			<div class="email">
				<a href="mailto:contacto@gunjop.com?Subject=Interesado%20en%20el%20curso"
					target="_blank">contacto@gunjop.com</a>
			</div>
		</div>
		<div class="content">
			<main class="pages-content">
				<section class="home">
					<div class="mySlides">
						<div class="slider-content">
							<div class="home-info">
								<div>
									<h4>We are doing</h4>
									<h1>
										<span class="minin">MINING IoT 4.0</span>
									</h1>
									<h2>building news things</h2>
									<p>Through our best connectivity Winex, we can carry WiFi any place in
										underground
										and
										surface mining to
										do tracking personnel and trucks, advanced telemetry, descriptive and
										inferential
										mining.
									</p>
								</div>
								<div>
									<form action="mailto:contacto@gunjop.com?Subject=Interesado%20en%20el%20curso" target="_blank">
										<button class="btn-contact cinco">
											Contact us!
										</button>
									</form>
								</div>
							</div>
							<div class="home-img">
								<img loading="lazy" src="img/Mining.svg">
							</div>
						</div>
					</div>
					<div class="mySlides">
						<div class="slider-content">
							<div class="home-info">
								<div>
									<h4>Development</h4>
									<h1>
										<span class="inno">INNOVATION</span>
									</h1>
									<h2>continuous</h2>
									<p>Many requeriments need special solutions, reduce consumption of diesel wiht
										hidragen, autonomous systems anticollision 360, HVAC systems.
									</p>
								</div>
								<div>
									<form action="mailto:contacto@gunjop.com?Subject=Interesado%20en%20el%20curso" target="_blank">
										<button class="btn-contact cinco">
											Contact us!
										</button>
									</form>
								</div>
							</div>
							<div class="home-img">
								<img loading="lazy" src="img/Innovation.svg">
							</div>
						</div>
					</div>
					<div class="mySlides">
						<div class="slider-content">
							<div class="home-info">
								<div>
									<h4>Desingning</h4>
									<h1>
										<span class="artif">ARTIFICIAL</span>
										<span class="intel">INTELLIGENCE</span>
									</h1>
									<h2>next level</h2>
									<p>Personal reports for managers operators, predictions, best practices for
										operations maintenance safety, TI engineers with our GUNJOP Al cloud systems.
									</p>
								</div>
								<div>
									<form action="mailto:contacto@gunjop.com?Subject=Interesado%20en%20el%20curso" target="_blank">
										<button class="btn-contact cinco">
											Contact us!
										</button>
									</form>
								</div>
							</div>
							<div class="home-img">
								<img loading="lazy" src="img/Articial.png">
							</div>
						</div>
					</div>

					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>
				</section>
				<section class="news">
					<h2 class="title reveal">News</h2>
					<ul class="">
						<li>
							<div class="project-img reveal">
								<a href="">
									<img loading="lazy" src="/img/new-1.jpg" alt="new-gunjop">
								</a>
							</div>
							<div class="project-content">
								<div>
									<p class="reveal"> Participation</p>
									<h3 class="reveal">EXPONOR 2022</h3>
									<div class="project-content-info reveal">
										<p>Equipos representantes de las compañías mineras SQM, Antucoya, Spence BHP y
											las empresas proveedoras Constructora El Sauce S.A y United
											(colaboradora de Escondida) lideran las cinco iniciativas seleccionadas que
											participarán en el Concurso de Mejoramiento Continuo de Escondida
											| BHP, un evento organizado junto a la Asociación de Industriales de
											Antofagasta (AIA), en el marco de Exponor 2022</p>
									</div>
									<h4 class="reveal">13 al 16 de junio de 2022</h4>
								</div>
							</div>
						</li>
					</ul>
				</section>
				<section class="customers">
					<h2 class="title reveal">Customers</h2>
					<p class="reveal">A small gallery of recent projects chosen by me. I've done them all together with
						amazing people
						from companies around the globe. It's only a drop in the ocean compared to the entire list.
						Interested to see some more?</p>
					<div class="customers-empresas reveal">
						<div class="carrusel-empresas">
							<div class="carrusel-empre">
								<img loading="lazy" src="img/cl-1.png" alt="" />
							</div>
							<div class="carrusel-empre">
								<img loading="lazy" src="img/cl-2.png" alt="" />
							</div>
							<div class="carrusel-empre img-bg2">
								<img loading="lazy" src="img/cl-15.png" alt="" />
							</div>
							<div class="carrusel-empre">
								<img loading="lazy" src="img/cl-4.png" alt="" />
							</div>
							<div class="carrusel-empre">
								<img loading="lazy" src="img/cl-5.png" alt="" />
							</div>
							<div class="carrusel-empre">
								<img loading="lazy" src="img/cl-6.png" alt="" />
							</div>
							<div class="carrusel-empre">
								<img loading="lazy" src="img/cl-8.png" alt="" />
							</div>
							<div class="carrusel-empre">
								<img loading="lazy" src="img/cl-7.png" alt="" />
							</div>
							<div class="carrusel-empre img-bg1">
								<img loading="lazy" src="img/cl-10.png" alt="" />
							</div>
							<div class="carrusel-empre">
								<img loading="lazy" src="img/cl-13.png" alt="" />
							</div>
							<div class="carrusel-empre">
								<img loading="lazy" src="img/cl-12.png" alt="" />
							</div>
							<div class="carrusel-empre">
								<img loading="lazy" src="img/cl-11.png" alt="" />
							</div>
						</div>
					</div>

					<div class="customers-img reveal">
						<div class="carrusel-items">
							<div class="carrusel-item">
								<img loading="lazy" src="https://img.freepik.com/foto-gratis/dos-jovenes-uniforme-trabajo-cascos-protectores-trabajan-mina_74907-115.jpg?w=1060"
									alt="" />
							</div>
							<div class="carrusel-item">
								<img loading="lazy" src="https://img.freepik.com/foto-gratis/hombre-vestido-mono-trabajo-casco-dentro-mina_74907-261.jpg?w=1060"
									alt="" />
							</div>
							<div class="carrusel-item">
								<img loading="lazy" src="https://img.freepik.com/foto-gratis/largo-tunel-traves-mina-yeso_211251-17.jpg?w=1060"
									alt="" />
							</div>
							<div class="carrusel-item">
								<img loading="lazy" src="https://img.freepik.com/foto-gratis/trabajadores-construccion-que-inspeccionan-sitio_236854-1974.jpg?w=1060"
									alt="" />
							</div>
						</div>
					</div>

				</section>
				<section class="contact reduc">
					<div class="contact-info">
						<h2 class="title reveal">Contact me</h2>
						<p class="reveal">We are interested in innovation opportunities – especially ambitious or large
							projects.
							However, if you have other request or question, don’t hesitate to use the form. </p>
						<div @click.prevent="CreatePost" class="contact-form">
							<form action="">
								<ul>
									<li class="half reveal">
										<input v-model="formData.nom" placeholder="Name" type="text">
										<label for=""></label>
									</li>
									<li class="half reveal">
										<input v-model="formData.nom" placeholder="Phone" type="phone">
										<label for=""></label>
									</li>
									<li class="input-field reveal">
										<input v-model="formData.nom" placeholder="Email" type="email">
										<label for=""></label>
									</li>
									<li class="input-field reveal">
										<input v-model="formData.nom" placeholder="Subject" type="text">
										<label for=""></label>
									</li>
									<li class="input-field reveal">
										<textarea v-model="formData.nom" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
										<label for=""></label>
									</li>
									<li class="right-btn">
										<a class="contact-send">Send Message!</a>
									</li>
								</ul>
							</form>
						</div>
					</div>
				</section>
			</main>
			<footer class="pages-footer">
				<div class="footer-social-icons">
					<a href="https://www.youtube.com/channel/UCtz7VZdGz2NpbfiFkICp4Kw" target="_blank"> 
						<img loading="lazy" class="icon" src="img/yt.svg" /> 
					</a>
					<a href="https://twitter.com/GUNJOPIoT" target="_blank"> 
						<img class="icon" loading="lazy" src="img/twt.svg" />
					</a> 
				</div>
				<div class="credit">
					© GUNJOP, Derechos Reservados - 2022
				</div>
			</footer>
		</div>
	</div>
<!--Ventana Modal-->
    <div class="modal" id="hide">
        <div class="modal-logo">
            <svg width="50" height="42" viewBox="0 0 50 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M35.365 5.25292L28.6797 11.9382C27.0012 10.5065 25.0754 9.68681 22.893 9.45935C20.7204 9.24183 18.6567 9.52832 16.7116 10.3281C14.7566 11.1279 13.1173 12.3726 11.7744 14.061C10.4315 15.7494 9.75973 17.7741 9.75973 20.1535C9.75973 25.0317 11.596 28.5073 15.2699 30.581C18.9531 32.6547 22.8439 32.6348 26.9515 30.5319L26.8732 25.2127V25.2074L31.6354 20.4393H31.6546H36.5196L36.6383 33.3955C33.5181 37.2763 29.825 39.6855 25.5589 40.614C21.2928 41.5517 17.2541 41.3149 13.4224 39.913C9.59129 38.5011 6.36236 36.0713 3.73558 32.6355C1.09885 29.189 -0.145236 25.0317 0.0125961 20.1535C0.131302 15.5816 1.44436 11.7108 3.96238 8.53093C6.4804 5.36102 9.53226 3.05985 13.1365 1.63804C16.7309 0.206273 20.5427 -0.247991 24.5714 0.275242C28.6101 0.798476 32.2044 2.45704 35.3644 5.25226L35.365 5.25292ZM26.8739 25.2081L31.6361 20.44L26.8739 25.2081Z"
                    fill="#CDBE78" />
                <path
                    d="M49.1382 23.7989L42.177 30.7528L41.0304 29.1917L41.0523 -0.000640869H49.1382C49.1382 7.93275 49.1382 15.8648 49.1382 23.7982V23.7989Z"
                    fill="#CDBE78" />
                <path
                    d="M45.0797 41.2426C47.3164 41.2426 49.1296 39.4294 49.1296 37.1927C49.1296 34.956 47.3164 33.1428 45.0797 33.1428C42.843 33.1428 41.0298 34.956 41.0298 37.1927C41.0298 39.4294 42.843 41.2426 45.0797 41.2426Z"
                    fill="#CDBE78" />
            </svg>
        </div>
        <p>Saved<br>success!</p>
    </div>

</body>

<!-- JS -->
<script src="js/main.js"></script>

<script>

    export default {
        name: 'CreatePost',
        data() {
            return {
                formData: {
                    nom: '',
                    cor: '',
                    men: '',
                },
            }
        },
        methods: {
            createPost() {
                axios
                    .post('http//143.19.128.180:5100/api/v1/form/gunjop', this.formData)
                    .then((Response) => console.log(Response))
                    .catch((error) => console.log(error))
            },
        },
    }

</script>
</html>